/*Colors*/
*{
	
	base_color:white;
	special_color:#FFC0CB;
	text_color:black;
	
}

/*Pane*/
.pane {
	-fx-background-color: White;
}

/*Button*/
.button {
	-fx-text-fill: White;
	-fx-background-color: Black;
	-fx-background-radius: 5;
	-fx-font: bold 10pt "Arial";/*HFONT*/
}

.label {
	-fx-text-fill: base_color;
	-fx-font: bold 10pt "Arial";
}

/*Text Field*/
.text-field {
	
	-fx-focus-color: base_color;
	-fx-highlight-fill: special_color;
	-fx-font: bold 9pt "Arial";/*TFONT*/
}

/*Check Box*/
.check-box{
	
	-fx-text-fill: base_color;
}

.check-box .box {
	
	-fx-background-color: base_color;
}

.check-box .box .mark {
	
	-fx-mark-color: special_color;
}


/*Choice Box*/
.choice-box {
	
  -fx-background-color: Black;
  -fx-mark-color: special_color;
  
}

.choice-box > .label {
	
	-fx-text-fill: Black;
	-fx-font: bold 9pt "Arial";/*TFONT*/
}

.choice-box .context-menu { 
	
	-fx-background-color: base_color;
	-fx-font: bold 9pt "Arial";/*TFONT*/
}

.choice-box .menu-item:focused { 
	
	-fx-background-color: special_color;
}

.choice-box .menu-item > .label { 
	
	-fx-text-fill: text_color;
	-fx-font: bold 9pt "Arial";/*TFONT*/
}

.choice-box .menu-item:focused > .label { 
	
	-fx-text-fill: base_color;
}

/*Dialog Pane*/
.dialog {
	
	-fx-background-color: base_color;
	-fx-text-fill:Black;
	-fx-font: bold 9pt "Arial";
}

.dialog > *.buttonbar > *.container {
	
	-fx-background-color: base_color;/*BAD*/
}

.dialog > *.content.label {
	
	-fx-text-fill:text_color;
	-fx-font: bold 9pt "Arial";/*TFONT*/
}

.dialog *.button {
	
	-fx-background-color: special_color;
	-fx-font: bold 10pt "Arial";/*HFONT*/
	-fx-border-radius: 5;
	-fx-text-fill: text_color;

}

.dialog:header *.header-panel {
	
	-fx-background-color: base_color;/*BAD*/
}



.delete {
	
	-fx-background-color: Aqua;
	-fx-text-fill: text_color;
}

.register{
	-fx-text-fill: text_color;
}

#logo {
	
	-fx-image: url(../../themes/CHEER_UP/images/TWICE_LOGO.png);
	-fx-background-size:100% 100%;
}

